/*list first*/
.one ul li:nth-child(1){
    color: red;
}
.one ul li:nth-child(2){
    color: blue;
}
.one ul li:nth-last-child(1){
    color: green;
}
.one ul li:nth-child(even){
    font-size: 20px;
}
.one ul li:nth-child(odd) {
        font-size: 40px;
        font-weight: bold;
}
.one ul li:hover{
    background-color: yellow;
    transition: 2s;
}

/*title*/
h2::before{
    content: 'Я ';
}
h2::after{
    content: " програмировать!";
}

/*list second*/
.two ul li:nth-child(3n+1){
    color: red;
}
.two ul li:nth-child(4n+1){
    color: blue;
}
.two ul li:hover{
    color: green;
    font-size: 40px;
    transition: .1s;
}


